# Editor directories and files
*.vs/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

bin/
publish/
/.vs/FootballDashboardAPI/v17/.suo
/.vs/FootballDashboardAPI/v17/.suo
/.vs/FootballDashboardAPI/v17/DocumentLayout.backup.json
/.vs/FootballDashboardAPI/v17/DocumentLayout.json
/FootballDashboardAPI/bin/Debug/net8.0/FootballDashboardAPI.dll
/.vs/FootballDashboardAPI/DesignTimeBuild/.dtbcache.v2
/FootballDashboardAPI/obj/Debug/net8.0/apphost.exe
/FootballDashboardAPI/obj/Debug/net8.0/FootballDashboardAPI.AssemblyInfo.cs
/FootballDashboardAPI/obj/Debug/net8.0/FootballDashboardAPI.AssemblyInfoInputs.cache
/FootballDashboardAPI/obj/Debug/net8.0/FootballDashboardAPI.assets.cache
/FootballDashboardAPI/obj/Debug/net8.0/FootballDashboardAPI.csproj.AssemblyReference.cache
/FootballDashboardAPI/obj/Debug/net8.0/FootballDashboardAPI.dll
/FootballDashboardAPI/obj/Debug/net8.0/FootballDashboardAPI.GeneratedMSBuildEditorConfig.editorconfig
/FootballDashboardAPI/obj/Debug/net8.0/FootballDashboardAPI.genruntimeconfig.cache
/FootballDashboardAPI/obj/Debug/net8.0/FootballDashboardAPI.pdb
/FootballDashboardAPI/obj/Debug/net8.0/FootballDashboardAPI.sourcelink.json
/FootballDashboardAPI/obj/Debug/net8.0/ref/FootballDashboardAPI.dll
/FootballDashboardAPI/obj/Debug/net8.0/refint/FootballDashboardAPI.dll
/FootballDashboardAPI/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/FootballDashboardAPI/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/FootballDashboardAPI/obj/Debug/net8.0/rpswa.dswa.cache.json
/FootballDashboardAPI/obj/FootballDashboardAPI.csproj.nuget.dgspec.json
/FootballDashboardAPI/obj/FootballDashboardAPI.csproj.nuget.g.props
/FootballDashboardAPI/obj/project.assets.json
/FootballDashboardAPI/obj/project.nuget.cache
FootballDashboardAPI/appsettings.json